.\#*
\#*
playground/test*org
sms/smsbackuprestore/sms.xml
phone-calls/calllogbackuprestore/calls.xml
.project
.pydevproject
.settings
*.pyc
*~
Makefilevktmp
rss/vktmp
rss/error.org_archive
filenametimestamps/vktmp/
benchmarking
Makefile